@import '../../scss/abstracts/_mixins.scss';
.gallery-img{
    .box-gallery-home{
        .gallery-home{
            object-fit: cover;
            min-height: 26.625rem;
            max-height: 26.625rem;
            width: 100%;
        }
    }
    @include breakpoint(tablet) {
        .t-left{
            padding-top: 7.5rem!important;
            text-align: left!important;
        }
        .t-right{
            padding-top: 7.5rem!important;
            text-align: right!important;
        }
    }
}
.slider-mov{
    margin-bottom: 1.25rem;
}

.parent-news{
    background-color: $yellow01;
    
    .news{
        margin-bottom: 1.25rem;
        display: flex;
        flex-direction: column;

        @include breakpoint(desktop) {
            flex-direction: row;
            justify-content: space-around;
            background-color: $white02;
            margin-top: 1.25rem;
            box-shadow: -0.125rem 0.625rem 0.75rem -0.313rem rgba(133,128,133,1);
            border-radius: 0.313rem;
        }
        .row{
            padding: 0.625rem;
            .box-news{
                background-color: $white02;
                padding: 1.25rem 0.625rem;
            }
            
            ul{
                text-align: left;
                li{
                    text-align: left;
                    margin-bottom: 1.25rem;
                    &::marker{
                        color: $green01;
                    }
                }
            }
        }
    }
}

.swiper{
    height: 100%;
    @include breakpoint(desktop) {
        height: 100%;
    }
    .swiper-pagination{
        position: sticky;
        .swiper-pagination-bullet {
            margin-top: 1.875rem!important;
        }
        .swiper-pagination-bullet-active{
            background-color: $green01;
        }
    }
}


.section-instagram{
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
    h1{
        text-align: center;
        margin-bottom: 1.875rem;
    }
    img{
        object-fit: cover;
        width: 100%;
    }
}