@import '../../scss/abstracts/_colors.scss';
@import '../../scss/abstracts/_mixins.scss';

.topNavMenu{
    @include breakpoint(laptop) {
        position: absolute;
        width: 100%;
        height: 2.5rem;
        padding: 0.5rem;
        left: 0;
        z-index: 5;
        background-color: $white;

        ul{
            display: flex;
            flex-direction: row;
            max-width: 90rem;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            justify-content: space-around;
            list-style: none;
        }
    }
}