@import '../../scss/abstracts/_mixins.scss';

.disclaimer{
    background: $green01;
    padding: 0.938rem;
    text-align: center;
    font-weight: 400;

    a{
        color: #373d49;
        &:hover{
            color: #4c5800;
        }
    }

    p{
        margin-bottom: 0;
    }

    .fadeIn {
        animation: fadeIn 1s forwards;
    }
    
    .fadeOut {
        animation: fadeOut 1s forwards;
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    @keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }    
}