@import '../../scss/abstracts/_colors.scss';
@import '../../scss/abstracts/_mixins.scss';

.disclaimer{
    background: $green01;
    padding: 0.938rem;
    text-align: center;
    font-weight: 400;
}