#root{
    button.default{
        border: none;
        background-color: $green01;
        padding: 0.938rem 1.875rem;
        font-size: 1rem;
        font-weight: 700;
        color: $white;
        border-radius: 0.25rem;
        transition: background-color 0.3s ease;
        &:hover{
            background-color: $green02;
        }
    }
}