@import '../../scss/abstracts/_mixins.scss';



.containerHeader{
    background-color: $header-color;
    
    header{
        max-width: 90rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        nav{
            @include breakpoint(laptop) {
                width: 100%;
                justify-content: space-between;
                padding: 0 1.25rem;
            }
            button{
                &:focus,
                &:active{
                    outline: none;
                    box-shadow:none
                } 
            }

            div[class^=blockElementsHeader] {
                height: 5.625rem;
                display: flex;
                align-items: center;
                gap: 0.625rem;
                div[class^=blockIcons] {
                    width: 100%;
                    display: flex;
                    gap: 0.938rem;
                    position: relative;
                }
                button{
                    background-color: transparent;
                    border: none;
                    position: relative;
                    width: 3.125rem;
                }
            }
            a{
                img{
                    margin-left: 0.625rem;
                }
                
            }
        }

        @include breakpoint(desktop) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        @include breakpoint(desktop) {
            .contentHeader{
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: end;
            }
        }

        img.svg{
            width: 1.875rem;
            position: absolute;
            top: 2.313rem;
            &.cart{
                right: 3.438rem;
                @include breakpoint(desktop) {
                    position: initial;
                }
            }
            &.truck{
                right: 5.938rem;
            }

            &.search{
                position: sticky;
                left: 100%;
                z-index: 9;
                margin-top: 0.625rem;
                margin-right: 0.375rem;
                width: 1.25rem;
            }

            @include breakpoint(desktop) {
                position: initial;
            }
        }

        ul{
            list-style: none;
            padding: 0;
            margin-bottom: 0;
            li{
                padding: 0.938rem;
                border-bottom: 0.063rem solid $grey01;
                img.svg{
                    position: initial;
                    margin-right: 0.625rem;
                }
            }
        }
        
        div{
            
            input{
                width: 70%;
                height: 2.438rem;
                border: 0.063rem solid $green01;
                position: absolute;
                right: 0;
                padding: 0.625rem;
                margin-top: 0;
                border-left: 0;
                top: 0;
                @include breakpoint(laptop) {
                    border-top-right-radius: 0.625rem;
                    border-bottom-right-radius: 0.625rem;
                    width: 81%;
                }                
            }
            .dropdown{
                position: absolute;
                z-index: 21;
                button{
                    position: absolute;
                    top: 0;
                    border-radius: 0;
                    width: 31%;
                    @include breakpoint(laptop) {
                        top: 0;
                        border-top-left-radius: 0.625rem;
                        border-bottom-left-radius: 0.625rem;
                    }
                }
            }

            button{
                position: absolute;
                color: $green01;
                background-color: $white;
                border: 0.063rem solid $green01;
                border-right: none;
                border-radius: 0;
                width: 30vw;
                height: 2.438rem;
                top: 0;

                @include breakpoint(laptop) {
                    border-radius: 0.5rem;
                    width: 20%;
                }
            }
        }
        
    }
}
